In [3]:
import requests

url = "https://fantasy.premierleague.com/api/bootstrap-static/"
response = requests.get(url) # send a GET request to the URL
data = response.json() # parse the JSON response

In [4]:
data.keys()  # display the keys in the JSON data

dict_keys(['chips', 'events', 'game_settings', 'game_config', 'phases', 'teams', 'total_players', 'element_stats', 'element_types', 'elements'])

In [5]:
import pandas as pd

players_df = pd.DataFrame(data['elements'])

players_df.head()

,can_transact,can_select,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,True,True,NaN,None,154561,0,0,0,0,0,...,123,4,469,74,68,11,17,2,1.00,0.34
1,True,True,NaN,None,109745,0,0,0,0,0,...,359,21,142,49,94,16,197,28,1.00,0.26
2,True,True,NaN,None,463748,0,0,0,0,0,...,591,58,56,27,438,53,224,33,0.00,0.00
3,True,True,NaN,None,551221,0,0,0,0,0,...,634,71,99,40,472,64,436,59,0.00,0.00
4,True,True,NaN,None,226597,0,0,0,0,0,...,94,5,569,215,32,1,10,4,1.07,0.38